.background-image {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
    .background-image::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.8);
        z-index: -1;
    }

.cart-img {
    width: 30%;
    max-width: 700px;
    min-width: 250px;
    height: auto;
    /*background-size: 100%;*/
    /*position: relative;*/
}

/*.cart-img {
    background: url('~/Images/speedycart.png') no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100%;
    position: absolute;
    top: -85px;
    left: 110px;
}*/


.form-container {
    width: auto;
    max-width: 320px;
    height: auto;
    padding: 40px 15px 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    margin: auto;
    position: relative;
    margin-top: 20px;
}

.title {
    font-size: 50px;
}

.btn-signup {
    background-color: #0a883b;
    width:100px;
}

.remove{
    width: 25px;
    height: 25px;
    font: 100;
    text-align: center;
}

.input-gray {
    margin-bottom: 15px;
    text-align: center;
    padding: 8px 0px;
    background-color: #d3d3d3;
    border-radius: 5px;
    text-align: center;
}

.input-validation-error {
    border-color: red;
    background-color: #fee;
}

/* Portrait */
@media screen and (orientation:portrait) {
    /* Portrait styles */

    .landscape {
        display: none;
    }

    /*.portrait {
        display: normal;
    }*/
}
/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles */

    /*.landscape{
        display: normal;
    }*/
    .portrait{
        display: none;
    }
}