
@{
    ViewData["Title"] = "DoesNotExist";
}

<h1>That User does not Exist</h1>

<a asp-controller="Home" asp-action="HomePage" class="btn btn-primary">Return to Login Page</a>
<a asp-controller="Home" asp-action="SignUp" class="btn btn-dark">Sign up!</a>

