
@{
    ViewData["Title"] = "IncorrectPassword";
}

<h1 class="text-danger">Your password was Incorrect</h1>
<a asp-controller="Home" asp-action="HomePage" class="btn btn-secondary">Return to Login Page</a>

