<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">Nothing for you to see here, You do not have permission to view this resource</h6>
    <img src="~/Images/emptyshelves.jpg" style="height:500px; width:auto" />
</div>