@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
}

    <div class="background-image" style="background-image: url('../Images/openaisle.jpg');">
        <div class="text-center mt-2">

                    <div class="col-12">
                        <img class="cart-img" src="~/Images/blankicon.png" alt="Grab&Go Logo">
                    </div>


            <div class="form-container">

                <h2 class="text-center">Member Login</h2>

                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group text-center">
                        <input asp-for="Email" class="form-control input-gray" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input asp-for="Password" type="password" class="form-control input-gray" placeholder="........." />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <div class="custom-checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary text-center">Login</button>
                    </div>
                </form>
                @*<div class="form-group text-danger text-center">Forgot Password?</div>*@
                <div class="form-group text-center">
                    <h6 class="test-center">Not a registered user yet...</h6>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-primary text-center btn-signup">Sign Up!</a>
                </div>
            </div>

        </div>
    </div>