@model LoginViewModel;

<!DOCTYPE html>
@{
    Layout = null;
}

<html lang="en">
<head>
    <title>Grab & Go</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        .input-validation-error {border-color: red; background-color: #fee;}
    </style>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="image" style="background-image: url('../Images/walmart.jpg');">
        <div class="form-container">
            <div><h2 class="title">Grab & Go</h2></div>
            <div class="user-img"></div>
            <h2 class="text-center">Member Login</h2>

            <form asp-controller="Users" asp-action="List" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input asp-for="Password" type="password" class="form-control" placeholder="........." />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary text-center">Login</button>
                </div>
            </form>

            <div class="form-group text-danger text-center">Forgot Password?</div>
            <div class="form-group text-center">
                <a asp-controller="home" asp-action="SignUp" style="background-color: #0a883b; width:100px;" class="btn btn-primary text-center">Sign Up!</a>
            </div>

            <div class="form-group text-center">
                <a asp-controller="Users" asp-action="Index" class="btn btn-primary text-center">Current Users</a>
            </div>
        </div>
    </div>
</body>
</html>