@{
    ViewData["Title"] = "Shopping List";
}

    <script src="~/js/Storage.js"></script>

<style>
    td, th {
        font-family: monospace;
        padding: 4px;
        background-color: #ccc;
    }

    label {
    }

    #main {
        border: 1px dotted blue;
        padding: 6px;
        background-color: #ccc;
    }

    #items_table {
        border: 1px dotted blue;
        padding: 6px;
        width: 400px;
        align-items: center;
    }

        #items_table h3 {
            font-size: 18px;
            margin-top: 0px;
            font-family: sans-serif;
        }

    body {
        text-align: center;
    }

    /*form {
        display: inline-block;
    }*/

    .textbox {
        width: 100px;
    }
</style>

<body onload="doShowAll()">
    <div class="background-image" style="background-image: url('../Images/openaisle.jpg');">
        <div>
            <div><a href="HomePage.html"><h2>Grab & Go</h2></a></div>
            <span>Curernt Store: Target<button onclick="window.location.href = 'ChangeStore.html';">Change</button></span>
            <span align="center"><a href="ShareList.html">Share List</a></span>
            <form name=ShoppingList>
                <div id="main">
                    <table>
                        <tr>
                            <td><b>Item:</b><input class="textbox" type=text name= name></td>
                            <td><b>Quantity:</b><input class="textbox" type=text name=data></td>
                        </tr>
                        <tr>
                            <td>
                                <input type=button value="Save" onclick="SaveItem()">
                                <input type=button value="Update" onclick="ModifyItem()">
                                <input type=button value="Delete" onclick="RemoveItem()">
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="items_table">
                    <h3>Shopping List</h3>
                    <table id="list"></table>
                    <p>
                        <label>
                            <input type=button value="Clear" onclick="ClearAll()">
                            <i>* Delete all items</i>
                        </label>
                    </p>
                </div>
                <div>
                    <span title="click me!">
                        <a href="TargetMap.html">Let's Go Shopping!</a>
                        <br />
                    </span>
                </div>
            </form>
        </div>
    </div>
</body>