
@{
    ViewData["Title"] = "MainPage";
}
    <div class="background-image" style="background-image: url('../Images/mask.jpg');">


        <div class="container text-center">

            <div class="col-12 mb-4">
                <img class="cart-img mx-auto" src="~/Images/blankicon.png" alt="Grab&Go Logo">
            </div>

            <div class="col-12">
                <ul style="list-style: none;">
                    <li>
                        <p><h4>Save time by shopping smarter and faster.</h4></p>
                    </li>
                    <li>
                        <p><h4>Share your list with others to stay organized.</h4></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>