@{
    Layout = null;
}
<!DOCTYPE HTML>
<style>

    .loginbox {
        font-size: 30px;
        color: #333333;
        /*display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;*/
        /*display: flex;*/
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto;
    }

    .loginlogo {
        padding: 10px;
    }
</style>

<html lang="en-US">

<head>
    <title> Sign Up!</title>
    <META charset="UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="StorageStyle.css">-->
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>


<body>
    <div class="image" style="background-image: url('../Images/vegies.jpg');">
        <div class="form-container">
            <div><a href="HomePage.html"><h2 class="title">Grab & Go</h2></a></div>
            <div class="user-img"></div>
            <form asp-action="HomePage">
                <ul class="list">
                    <li><h2>Member Login</h2></li>
                    <li><input type="text" name="First Name" placeholder="FirstName" /></li>
                    <li><input type="text" name="Last Name" placeholder="LastName" /></li>
                    <li><input type="date" name="birthday" placeholder="Birthday" /></li>
                    <li><input type="text" name="Last Name" placeholder="E-Mail Address" /></li>
                    <li><input type="password" name="Password" placeholder="Password" /></li>
                    <li><input type="password" name="ConfirmPassword" placeholder="Confirm Password" /></li>

                    <li><input type="submit" asp-action="HomePage" value="Submit" /></li>

                </ul>
            </form>
        </div>
    </div>
</body>
</html>