@model User

@{
    Layout = "_Validation";
    ViewData["Title"] = "Sign Up!";
}

dddd
    <div class="background-image" style="background-image: url('../Images/vegies.jpg');">
        <div class="container text-center">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title">Grab & Go</h2>
                    </div>
                </div>
            </div>


            <div class="container text-center">
                <div class="row">
                    <div class="col-12">
                        <div><img class="cart-img center" src="~/Images/speedycart.png" alt="Grab&Go Logo"></div>
                    </div>
                </div>
            </div>


            <div class="form-container">

                <h2 class="text-center">Member SignUp</h2>

                <form asp-controller="Users" asp-action="Create" method="post">
                    <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>-->
                    <input type="hidden" asp-for="UserID" />

                    @*<div class="form-group">
                        <input asp-for="UserID" class="form-control" placeholder="UserID" />
                        <span asp-validation-for="UserID" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        @*<label asp-for="FirstName" class="control-label"></label>*@
                        <input asp-for="FirstName" class="form-control input-gray" placeholder="FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="LastName" class="control-label"></label>*@
                        <input asp-for="LastName" class="form-control input-gray" placeholder="Last Name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="Email" class="control-label"></label>*@
                        <input asp-for="Email" class="form-control input-gray" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @*<label asp-for="Password" class="control-label"></label>*@
                        <input asp-for="Password" type="password" class="form-control input-gray" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <input type="hidden" asp-for="ListID" />
                    @*<div class="form-group">
                        <input asp-for="ListID" class="form-control" placeholder="ListID" />
                        <span asp-validation-for="ListID" class="text-danger"></span>
                    </div>*@

                    <input type="hidden" asp-for="ListName" />
                    @*<div class="form-group">
                        <input asp-for="ListName" class="form-control" placeholder="Default: FirstName's List" />
                        <span asp-validation-for="ListName" class="text-danger"></span>
                    </div>*@

                    <input type="hidden" asp-for="StorePref" value="1" />
                    @*<div class="form-group">
                        <input asp-for="StorePref" class="form-control" placeholder="StorePref" />
                        <span asp-validation-for="StorePref" class="text-danger"></span>
                    </div>*@

                    <div class="form-group">
                        <input type="submit" value="Sign Up!" class="btn btn-primary text-center" />
                    </div>
                </form>
            </div>
        </div>
    </div>