@model SharedUser

<div class="background-image" style="background-image: url('../Images/vegies.jpg');">
    <div class="container text-center">

        @*<div class="container text-center">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">Grab & Go</h2>
                </div>
            </div>
        </div>


        <div class="container text-center">
            <div class="row">
                <div class="col-12">
                    <div><img class="cart-img center" src="~/Images/speedycart.png" alt="Grab&Go Logo"></div>
                </div>
            </div>
        </div>*@

        <div class="col-12 text-center mt-3">
            <img class="cart-img" src="~/Images/blankicon.png" alt="Grab&Go Logo">
        </div>


        <div class="form-container">

            <h2 class="text-center">Share your List with another Grab & Go User!</h2>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    @*<label asp-for="FirstName" class="control-label"></label>*@
                    <input asp-for="SharedUserEmail" class="form-control input-gray" placeholder="User Email" />
                    <span asp-validation-for="SharedUserEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Share!" class="btn btn-primary text-center" />
                </div>
                <a class="btn btn-success text-center" asp-action="YourList" asp-controller="ShoppingListLines">Back to Your List</a>
                @*<button type="submit" class="btn btn-primary">Register</button>*@
            </form>



        </div>
    </div>
</div>