
@{
    ViewData["Title"] = "ShareList Invitation";
    string user = ViewBag.SharingUser;
}

<h2 class="text-center">You have a request from @user to share their list with you.</h2>
<a asp-action="ShareAccept" class="btn btn-success">Accept</a>
<a asp-action="ShareDeny" class="btn btn-danger">Deny</a>

<h6 class="text-center text-danger">Note** Accepting will override what is in your current List</h6>